<h1>Welcome to Agoomb</h1>
<p>This is the home page for Agoomb which is a product of the Armenian Community Foundation</p>
 <p id="index-title">This is the home page for Bloccit.</p>
 <div class="posts">Post 1 goes here.</div>
 <div class="posts">Post 2 goes here.</div>

 <section>I am the content in a section element.</section>