
<br>
 <p id="index-title">This is the home page for Agoomb.</p>
<div class="jumbotron">
  <h1>Agoomb</h1>
  <p>Agoomb is a resource of ACF for sharing links with your friends!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Your Events</h2>
    <div class="posts"><p>Agoomb will show events for the organizations your have signed up</p></div>
  </div>
  <div class="col-md-4">
    <h2>Your Funds</h2>
    <div class="posts"><p>Agoomb will help raise funds for your NPOs</p></div>
   
  </div>
  <div class="col-md-4">
    <h2>Your Philanthropy</h2>
    
    <div class="posts"><p>Agoomb will connect you to your sphere of influence to raise awareness and help when needed</p></div>
  </div>
</div>

 


 <section>I am the content in a section element.</section>